
	 
	body{
		margin: 0;
		padding: 0;
		background-color:#EEEEEE; 
	}

	

	#sep{
		position: relative;
		left: 5px;
		display: inline-block;
		
		float: left;
		
	}
	#tec{
		padding-right: 100;
		margin-left: auto;
		
		float: right;
		display: inline-block;

		
	}
	.header{
		display: inline-block;
	}

	#titulos{
		padding-left: 30px;
		padding-right: 30px;
	}
	

	 
	 #hola{
	 	padding: 10px;
	 	
	 	
	 	
	 	
	 	background-color: #014e82;
	 	text-align: center;
	 
	}

	#div1{
		width: 100%;
		text-align: center;
		overflow: hidden;
		
		margin: auto;
	}

	

	

	#hola p{
		margin: 0;
	}


	#titulo1{

		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 	font-size: 20px;		
    	color: #FFFF66 ;
    }
    #titulo2{
    	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    	 font-size: 16px; 
    	 font-weight:bold; 
    	 color: #DEDECA;
    	 margin: -10px 0px 0px 0px;


    }

    #p1{
    	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    	font-weight: bold;
	 	font-size: 20px;		
    	color: #FF8000 ;
    	margin-top: 50px;
    }

	#p2{
    	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    	font-weight: bold;
	 	font-size: 20px;	
	 	text-align: center;	
    	color: #FF8000 ;
    	margin-top: 50px;
    	margin-left: 20px;
    }
    #p6{
    	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    	font-weight: bold;
	 	font-size: 15px;

	 	text-align: center;	
    	color: #FF8000 ;
    	margin-top: 50px;
    	
    }
    #p3{
    	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    	font-weight: bold;
    	text-align: right;
	 	font-size: 20px;		
    	color: #FF8000 ;
    	margin-top: 50px;
    	margin-right: 50px;
    }

    #div2 p:hover {
    	cursor: pointer;
    	color: blue;
    }

    .div2{
    	
    	 margin: auto;
    	
    	width: 60%;
  		
    }
    .div3{
    	
    	 margin: auto;
    	
    	width: 40%;
  		
    }
     #tecno{
     	width:  100px;
     	display: block;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 30px;
     }

	{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;

  left: 50%;
top: 50%;
transform: translate(-50%, -50%);
  
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 0px 10px 10px 10px;
  background-color: white;
  overflow: hidden;
}

form h1{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	font-size: 12px;
	background-color:  #014e82;
	padding: 5px;
	color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: solid black;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color:  #014e82;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:0px;
  opacity: 0.8;
}
label{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12;
}

/* Add a red background color to the cancel button */


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container{

}